@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using DBPediaNetwork.Models.Authentication;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    User user = null;
    string ssUser = HttpContextAccessor.HttpContext.Session.GetString(DBPediaNetwork.Controllers.AuthenticationController.SESSION_KEY_USER);
    if (!String.IsNullOrEmpty(ssUser))
    {
        user = JsonConvert.DeserializeObject<User>(ssUser);
    }

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DBPediaNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DBPediaNetwork</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @*Deslogado*@
                @if (user == null)
                {
                    <div class="navbar-collapse collapse float-right">
                        <ul class="navbar-nav flex-grow-1" style="margin-left: 80%;">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Index">Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Register">Registrar</a>
                            </li>

                            @*<li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>*@
                        </ul>

                    </div>
                }

                @*Logado*@
                else
                {
                    <p style="margin: 0; float: right;">Olá @user.name</p>
                    <div class="navbar-collapse collapse float-right">
                        <ul class="navbar-nav flex-grow-1" style="margin-left: 80%;">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>

    @RenderBody()

    <div class="modal fade bd-example-modal-lg preloader" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 10rem">
                <span class="spinner-border preloader"></span>
            </div>
        </div>
    </div>

    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - DBPediaNetwork - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
